*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.loading {
  height: 100vh;
  width: 100vw;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: opacity 500ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading .ball {
  position: absolute;
  z-index: 101;
  height: 100vh;
  width: 100vh;
  transform: scale(0.0000009);
  transition: transform 500ms ease-in-out;
  border-radius: 20000px;
  background-color: #000000;
}

.loading .stroker-svg {
  position: absolute;
  z-index: 102;
}

.loading .stroker {
  stroke-dasharray: 3303 3305;
  stroke-dashoffset: 3304;
  animation: JINUXwCX_draw_0 700ms ease-in-out 0ms infinite,
    JINUXwCX_fade 700ms linear 0ms infinite;
  transition: fill 500ms ease-in-out, stroke-dashoffset 500ms ease-in-out;
  fill: #00000000;
}

@keyframes JINUXwCX_draw {
  100%{
    stroke-dashoffset:0;
  }
}

@keyframes JINUXwCX_fade {
  0%{
    stroke-opacity:1;
  }
  
  88.23529411764706%{
    stroke-opacity:1;
  }
  100%{
    stroke-opacity:0;
  }
}

@keyframes JINUXwCX_draw_0 {
  0%{
    stroke-dashoffset: 3304
  }
  
  58.82352941176471%{
    stroke-dashoffset: 0;
  }
  100%{
    stroke-dashoffset: 0;
  }
}

.theme-link {
  color: #E62B1E;
}

.make-red {
  color: #E62B1E;
}

.make-bold {
  font-weight: 700;
}

.make-small {
  font-size: 1.3rem;
}

main {
  min-height: 500px;
}

section:first-child {
  margin-top: 100px;
}

section {
  margin: 10px;
  padding: 50px 10px;
  max-width: 100vw;
}

section .sub-heading {
  padding: 10px 0 50px 0;
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

section .sub-heading.sensitive {
  text-transform: none;
}

section.imaged-heading .sub-heading:not(.sub) {
  width: 100vw;
  margin-left: -20px;
  margin-top: -150px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 250px;
  padding-bottom: 80px;
  padding-left: 20px;
  margin-bottom: 50px;
  font-weight: 700;
  letter-spacing: 10px;
}

section .extra-section {
  margin-bottom: 100px;
  line-height: 2.4rem;
  letter-spacing: 0.02rem;
  word-spacing: 0.08rem;;
  font-size: 1.13rem;
}

section .extra-section:not(:first-of-type)::before {
  display: block;
  position: relative;
  content: '';
  height: 5px;
  max-width: 300px;
  width: 40%;
  top: -40px;
  margin-bottom: 80px;
  background-color: #E62B1E;
}

section .sub.sub-heading {
  padding: 10px 0 50px 0;
  font-size: 2.2rem;
  font-weight: 400;
}

section .extra-section p:not(:last-child) {
  margin-bottom: 20px;
}

.message {
  max-width: 700px;
  width: 98vw;
  max-height: 100vh;
  overflow-y: auto;
  padding: 20px 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 7px solid #E62B1E;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
  word-spacing: 0.08rem;;
  font-size: 1.13rem;
}

.message p {
  margin: 20px 0;
}

.message p.sub {
  font-size: 1rem;
}

.message p.ps {
  text-align: right;
}

@media only screen and (min-width: 900px) {
  section {
    margin: 60px;
    padding: 50px 10%;
  }
  section.imaged-heading .sub-heading:not(.sub) {
    margin-left: calc(-60px - 10vw);
    padding-left: calc(60px + 10vw);
    margin-top: -150px;
  }
}